@model IEnumerable<Order_Application.Models.OrderDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p class="btn-lg">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerFirstName) @Html.DisplayFor(modelItem => item.Customer.CustomerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
